<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Processing API</title>
    <style>
        h1 {
            text-align: center;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <h1>Image Processing API</h1>
    <img src='<%= imgPath %>'/>
</body>
</html>