<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Processing API</title>
    <style>
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <% if (filename) { %>
        <img src="http://localhost:3000/api/preview/<%= filename %>"/>
    <% } %>

    <script>
        
    </script>
</body>
</html>